$base: #0f1923;
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  height : 100vh;
  color : black;
  background-color : lightseagreen;
}

.header {
  width: 100%;
  // color : white;

  height: 96px;
  padding : 20px;
    .inner-header{
        width: 80%;
        margin : 0 auto;
        letter-spacing: 1.5em;
        text-transform: uppercase;
        .back-button{
            height: 100%;
            position : absolute;
            a{
                height: 100%;
                padding-top: 5px;
                font-size : 25px;
                color : black;
                font-family: inherit;
                text-decoration : none;
                font-size : 40px;
            }
        }

        .title, h1, .back-button{
            display: inline;
        }

        .title{
            padding-top: 5px;
            position : absolute;
            left: 50%;
            transform : translate(-50%)
        }
    }

}

.grid {

    width: 80%;
    height: 80vh;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 70% 30%;
    // border : 1px solid white;
    background-color: lightgrey;
    box-shadow: 10px 10px 150px black;
    .canvas-container {
      display : grid;
      .myCanvas {
        margin : auto;
      }

  }

  .controls-grid {
    display : grid;
    // grid-template-columns: 50% 50%;
    // grid-template-rows: auto;
    color : white;
    margin: auto;
    height: 90%;
    width: 90%;
    padding : 5px;
    // grid-template-areas: 
    // "previous", "next";
    // "final final";
    // "size size",
    // "speed speed",
    // "restartb startb";

    #prevButton{
      // grid-area: previous;
      // background-color : red;
     }

    #nextButton{
      // grid-area: next;
    }

    #finalButton{
      // grid-area: final;
    }

    #size-input{
      // grid-area: size;

      input[type=range].slider {
        width: 100%;
        margin: 8.35px 0;
        background-color: transparent;
        -webkit-appearance: none;
      }
      input[type=range].slider:focus {
        outline: none;
      }
      input[type=range].slider::-webkit-slider-runnable-track {
        background: #ff91d8;
        border: 2.3px solid #dbd58f;
        border-radius: 25px;
        width: 100%;
        height: 13.3px;
        cursor: pointer;
      }
      input[type=range].slider::-webkit-slider-thumb {
        margin-top: -10.65px;
        width: 30px;
        height: 30px;
        background: #ffff7d;
        border: 5px solid #ffcdff;
        border-radius: 12px;
        cursor: pointer;
        -webkit-appearance: none;
      }
      input[type=range].slider:focus::-webkit-slider-runnable-track {
        background: #ffbae6;
      }
      input[type=range].slider::-moz-range-track {
        background: #ff91d8;
        border: 2.3px solid #dbd58f;
        border-radius: 25px;
        width: 100%;
        height: 13.3px;
        cursor: pointer;
      }
      input[type=range].slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
        background: #ffff7d;
        border: 5px solid #ffcdff;
        border-radius: 12px;
        cursor: pointer;
      }
      input[type=range].slider::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 12.45px 0;
        color: transparent;
        width: 100%;
        height: 13.3px;
        cursor: pointer;
      }
      input[type=range].slider::-ms-fill-lower {
        background: #ff68ca;
        border: 2.3px solid #dbd58f;
        border-radius: 50px;
      }
      input[type=range].slider::-ms-fill-upper {
        background: #ff91d8;
        border: 2.3px solid #dbd58f;
        border-radius: 50px;
      }
      input[type=range].slider::-ms-thumb {
        width: 30px;
        height: 30px;
        background: #ffff7d;
        border: 5px solid #ffcdff;
        border-radius: 12px;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
      }
      input[type=range].slider:focus::-ms-fill-lower {
        background: #ff91d8;
      }
      input[type=range].slider:focus::-ms-fill-upper {
        background: #ffbae6;
      }
      /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
      how to remove the virtical space around the range input in IE*/
      @supports (-ms-ime-align:auto) {
        /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
        input[type=range].slider {
          margin: 0;
          /*Edge starts the margin from the thumb, not the track as other browsers do*/
        }
      }
      


    }

    #speed-input{
      // grid-area: speed;

      #range{

      }

    }

    #restart-button{
      // grid-area: restartb;
    }

    #start-button{
      // grid-area : startb;
    }

    .control{
      font-size : 30px;
      border : 1px solid white;
      text-align: center;
      background-color : black;
      color : white;
    }

  }
}

@import "button";
@import "modal";
