$base: #0f1923;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*l{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // background-color: lightblue;
    color: black;
}

body{
    padding : 0 10%;
}

.grid{
    width: 80%;
    height: 80vh;
    margin: 5vh auto;

    display : grid;
    grid-template-rows:  10% 90% ;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "title title"
        "canvas controls";

    gap: 20px;
    
    .title{
        grid-area: title;
        background-color:lightseagreen;
        text-align: center;
        h1{
            font-size: 25px;
        }
    }
    .canvas-wrapper{
        grid-area: canvas;
        background-color: black;
        .myCanvas{
            //horizontal 
            display: block;
            margin: 0 auto;
            //vertically
            position: relative;
            top: 50%;
            transform: translate(0, -50%); 
        }
    }

    .controls{
        grid-area: controls;
        background-color: greenyellow ;
        margin: auto;
        padding: 20px;
        font-size: 20px;
        .size-input{
            input{
                font-size: 12px;
                font-family: 'Press Start 2P', cursive;
            }
        }
        .controls-buttons{
            button{
                font-family: "Press Start 2P", cursive;
                font-size: 20px;
            }
        }
    }
}





  @import 'button';
  @import 'modal';